body {
  max-width: 100%;
  margin: 0 auto;
}

table {
  display: block;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
}

table th, table td {
  white-space: nowrap;
}

/* Add padding to the edges of the document */
body {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Increase the size of paragraph text */
p {
  font-size: 18px;
  line-height: 1.6;
}

/* Center the top header and use sans-serif font */
h1.title {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Optionally, you can also adjust the header styles */
h2, h3, h4, h5, h6 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

/* centre figures */

figure {
  display: block;
  margin: 20px auto;
  text-align: center;
}